.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(54, 156, 103);
}

.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;

}
.navbar a:hover{
    background-color: rgb(34, 97, 64);
}


